[client]
port = 2037
protocol = TCP
user = root
[mysqld]
report_host = siv14.no.oracle.com.
general_log = 1
loose_mysqlx_port = 20370
secure_file_priv = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker3/tmp/2037/mysql-files
pid_file = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker3/tmp/2037/2037.pid
log_error = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker3/tmp/2037/data/error.log
datadir = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker3/tmp/2037/data
port = 2037
innodb_log_buffer_size = 1M
innodb_log_file_size = 1M
log_syslog = OFF
innodb_data_file_path = ibdata1:10M:autoextend
socket = mysqld.sock
basedir = /var/lib/jenkins/shell-deps/traces-mysql-8.0.11-mysql-commercial_8.0.11-1ubuntu16.04_amd64/usr
loose_mysqlx_socket = mysqlx.sock
