[client]
port = 2287
protocol = TCP
user = root
[mysqld]
report_host = siv14.no.oracle.com.
general_log = 1
loose_mysqlx_port = 22870
secure_file_priv = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker28/tmp/2287/mysql-files
pid_file = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker28/tmp/2287/2287.pid
log_error = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker28/tmp/2287/data/error.log
datadir = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker28/tmp/2287/data
port = 2287
basedir = /export/home/shell-test-trace-building/target-mysql/mysql-5.7.21-linux-glibc2.12-x86_64
loose_mysqlx_socket = mysqlx.sock
innodb_log_file_size = 1M
innodb_log_buffer_size = 1M
plugin_load = mysqlx.so
innodb_data_file_path = ibdata1:10M:autoextend
socket = mysqld.sock
log_syslog = OFF
