.gitattributes export-ignore
.gitignore export-ignore

# All MySQL code is auto-formatted using clang-format.
*.c filter=codeformat
*.cc filter=codeformat
*.cpp filter=codeformat
*.h filter=codeformat
*.hpp filter=codeformat
*.i filter=codeformat
*.ic filter=codeformat

# Third-party code.
/ext/** !filter
/res/** !filter

