[client]
port = 3316
protocol = TCP
user = root
[mysqld]
general_log = 1
loose_mysqlx_port = 33160
secure_file_priv = /var/folders/w3/nl747q0s2q52cdlp3kqqz_q40000gp/T/3316/mysql-files
pid_file = /var/folders/w3/nl747q0s2q52cdlp3kqqz_q40000gp/T/3316/3316.pid
log_error = /var/folders/w3/nl747q0s2q52cdlp3kqqz_q40000gp/T/3316/data/error.log
datadir = /var/folders/w3/nl747q0s2q52cdlp3kqqz_q40000gp/T/3316/data
port = 3316
basedir = /usr/local/mysql-5.7.21-macos10.13-x86_64
loose_mysqlx_socket = mysqlx.sock
innodb_log_file_size = 1M
innodb_log_buffer_size = 1M
plugin_load = mysqlx.so
innodb_data_file_path = ibdata1:10M:autoextend
socket = mysqld.sock
log_syslog = OFF
