[client]
port = 3326
protocol = TCP
user = root
[mysqld]
general_log = 1
report_port = 3326
loose_mysqlx_port = 33260
secure_file_priv = /tmp/miguel/3326/mysql-files
pid_file = /tmp/miguel/3326/3326.pid
log_error = /tmp/miguel/3326/sandboxdata/error.log
datadir = /tmp/miguel/3326/sandboxdata
server_id = 15671
port = 3326
log_slave_updates = ON
innodb_log_buffer_size = 1M
relay_log_info_repository = TABLE
innodb_log_file_size = 1M
master_info_repository = TABLE
transaction_write_set_extraction = XXHASH64
binlog_format = ROW
log_syslog = OFF
binlog_checksum = NONE
enforce_gtid_consistency = ON
gtid_mode = ON
innodb_data_file_path = ibdata1:10M:autoextend
socket = mysqld.sock
auto_increment_offset = 6
basedir = /home/miguel/work/mysql-server/8.0.11
log_bin
loose_mysqlx_socket = mysqlx.sock
