[client]
port = 2247
protocol = TCP
user = root
[mysqld]
report_host = siv14.no.oracle.com.
general_log = 1
loose_mysqlx_port = 22470
secure_file_priv = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker24/tmp/2247/mysql-files
pid_file = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker24/tmp/2247/2247.pid
log_error = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker24/tmp/2247/data/error.log
datadir = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker24/tmp/2247/data
port = 2247
innodb_log_buffer_size = 1M
innodb_log_file_size = 1M
log_syslog = OFF
innodb_data_file_path = ibdata1:10M:autoextend
socket = mysqld.sock
basedir = /var/lib/jenkins/shell-deps/traces-mysql-8.0.12-mysql-commercial_8.0.12-1ubuntu16.04_amd64/usr
loose_mysqlx_socket = mysqlx.sock
