[client]
port = 2039
protocol = TCP
user = root
[mysqld]
general_log = 1
report_port = 2039
loose_mysqlx_port = 20390
secure_file_priv = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker3/tmp/2039/mysql-files
pid_file = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker3/tmp/2039/2039.pid
log_error = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker3/tmp/2039/sandboxdata/error.log
datadir = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker3/tmp/2039/sandboxdata
server_id = 14384
port = 2039
log_slave_updates = ON
innodb_log_buffer_size = 1M
relay_log_info_repository = TABLE
innodb_log_file_size = 1M
master_info_repository = TABLE
transaction_write_set_extraction = XXHASH64
binlog_format = ROW
log_syslog = OFF
binlog_checksum = NONE
enforce_gtid_consistency = ON
gtid_mode = ON
innodb_data_file_path = ibdata1:10M:autoextend
socket = mysqld.sock
auto_increment_offset = 5
basedir = /var/lib/jenkins/shell-deps/traces-mysql-8.0.12-mysql-commercial_8.0.12-1ubuntu16.04_amd64/usr
log_bin
loose_mysqlx_socket = mysqlx.sock
