[client]
port = 3360
protocol = TCP
user = root
[mysqld]
general_log = 1
report_port = 3360
loose_mysqlx_port = 33600
secure_file_priv = /home/workspace/git/work/bugs/28064621/ngshell/BUILD/bin/3360/mysql-files
pid_file = /home/workspace/git/work/bugs/28064621/ngshell/BUILD/bin/3360/3360.pid
log_error = /home/workspace/git/work/bugs/28064621/ngshell/BUILD/bin/3360/sandboxdata/error.log
datadir = /home/workspace/git/work/bugs/28064621/ngshell/BUILD/bin/3360/sandboxdata
server_id = 15705
port = 3360
log_slave_updates = ON
innodb_log_buffer_size = 1M
relay_log_info_repository = TABLE
innodb_log_file_size = 1M
master_info_repository = TABLE
transaction_write_set_extraction = XXHASH64
binlog_format = ROW
log_syslog = OFF
binlog_checksum = NONE
enforce_gtid_consistency = ON
gtid_mode = ON
innodb_data_file_path = ibdata1:10M:autoextend
socket = mysqld.sock
auto_increment_offset = 1
basedir = /home/workspace/SERVERS/mysql-8.0.11-linux-glibc2.12-x86_64
log_bin
loose_mysqlx_socket = mysqlx.sock
