# Use the !include and includedir directives.
# Some file a repeated by includes.
[group1]
option1 = 11

[group2]
option1 = 21
option2 = 22

[group3]
option3 = 33

[mysql]
user = myuser

!include ./include_files/3.txt
!includedir ./include_files
