[client]
protocol = TCP
port = 3550
user = root

[mysqld]
transaction_write_set_extraction = XXHASH64
disabled_storage_engines = BLACKHOLE,FEDERATED,ARCHIVE
binlog_checksum = NONE
gtid_mode = ON
server_id = 1216929872
auto_increment_offset = 5
basedir = /home/kg/SERVERS/mysql-8.0.4-rc-linux-x86_64
port = 3550
datadir = /home/kg/repo/ngshell/bld-clang_head/unittest/3550/sandboxdata
log_error = /home/kg/repo/ngshell/bld-clang_head/unittest/3550/sandboxdata/error.log
pid_file = /home/kg/repo/ngshell/bld-clang_head/unittest/3550/3550.pid
log_bin
loose_mysqlx_socket = mysqlx.sock
log_slave_updates = ON
relay_log_info_repository = TABLE
innodb_log_file_size = 4M
secure_file_priv = /home/kg/repo/ngshell/bld-clang_head/unittest/3550/mysql-files
master_info_repository = TABLE
binlog_format = ROW
plugin_load = mysqlx.so
enforce_gtid_consistency = ON
loose_mysqlx_port = 35500
socket = mysqld.sock
report_port = 3550
log_syslog = OFF

