[client]
port = 2097
protocol = TCP
user = root
[mysqld]
report_host = siv14.no.oracle.com.
general_log = 1
loose_mysqlx_port = 20970
secure_file_priv = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker9/tmp/2097/mysql-files
pid_file = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker9/tmp/2097/2097.pid
log_error = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker9/tmp/2097/data/error.log
datadir = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker9/tmp/2097/data
port = 2097
basedir = /var/lib/jenkins/shell-deps/traces-mysql-5.7.21-mysql-commercial_5.7.21-1ubuntu16.04_amd64/usr
loose_mysqlx_socket = mysqlx.sock
innodb_log_file_size = 1M
innodb_log_buffer_size = 1M
plugin_load = mysqlx.so
innodb_data_file_path = ibdata1:10M:autoextend
socket = mysqld.sock
log_syslog = OFF
