[client]
port = 3340
protocol = TCP
user = root
[mysqld]
report_host = pjesus-TECRA-Z40-B
general_log = 1
loose_mysqlx_port = 33400
secure_file_priv = /home/workspace/git/work/bugs/27924694/ngshell/BUILD/bin/3340/mysql-files
pid_file = /home/workspace/git/work/bugs/27924694/ngshell/BUILD/bin/3340/3340.pid
log_error = /home/workspace/git/work/bugs/27924694/ngshell/BUILD/bin/3340/data/error.log
datadir = /home/workspace/git/work/bugs/27924694/ngshell/BUILD/bin/3340/data
port = 3340
basedir = /home/workspace/SERVERS/mysql-5.7.22-linux-glibc2.12-x86_64
loose_mysqlx_socket = mysqlx.sock
innodb_log_file_size = 1M
innodb_log_buffer_size = 1M
plugin_load = mysqlx.so
innodb_data_file_path = ibdata1:10M:autoextend
socket = mysqld.sock
log_syslog = OFF
