[client]
port = 3130
protocol = TCP
user = root
[mysqld]
general_log = 1
report_port = 3130
loose_mysqlx_port = 31300
secure_file_priv = /home/kg/repo/ngshell/bld-clang_head/bin/3130/mysql-files
pid_file = /home/kg/repo/ngshell/bld-clang_head/bin/3130/3130.pid
log_error = /home/kg/repo/ngshell/bld-clang_head/bin/3130/sandboxdata/error.log
datadir = /home/kg/repo/ngshell/bld-clang_head/bin/3130/sandboxdata
server_id = 15475
port = 3130
log_slave_updates = ON
innodb_log_buffer_size = 1M
relay_log_info_repository = TABLE
innodb_log_file_size = 1M
master_info_repository = TABLE
transaction_write_set_extraction = XXHASH64
binlog_format = ROW
log_syslog = OFF
binlog_checksum = NONE
enforce_gtid_consistency = ON
gtid_mode = ON
innodb_data_file_path = ibdata1:10M:autoextend
socket = mysqld.sock
auto_increment_offset = 4
basedir = /home/kg/SERVERS/mysql-8.0.11-linux-x86_64
log_bin
loose_mysqlx_socket = mysqlx.sock
