[client]
port = 2239
protocol = TCP
user = root
[mysqld]
general_log = 1
report_port = 2239
loose_mysqlx_port = 22390
secure_file_priv = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker23/tmp/2239/mysql-files
pid_file = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker23/tmp/2239/2239.pid
log_error = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker23/tmp/2239/sandboxdata/error.log
datadir = /export/home/jenkins-data/mysql-shell/shell-trace-maker/workspace/traceroot/worker23/tmp/2239/sandboxdata
server_id = 14584
port = 2239
transaction_write_set_extraction = XXHASH64
binlog_checksum = NONE
gtid_mode = ON
auto_increment_offset = 3
basedir = /export/home/shell-test-trace-building/target-mysql/mysql-5.7.21-linux-glibc2.12-x86_64
log_bin
loose_mysqlx_socket = mysqlx.sock
log_slave_updates = ON
relay_log_info_repository = TABLE
innodb_log_file_size = 1M
master_info_repository = TABLE
binlog_format = ROW
innodb_log_buffer_size = 1M
plugin_load = mysqlx.so
enforce_gtid_consistency = ON
innodb_data_file_path = ibdata1:10M:autoextend
socket = mysqld.sock
log_syslog = OFF
