[client]
protocol = TCP
port = 3340
user = root
[mysqld]
transaction_write_set_extraction = XXHASH64
disabled_storage_engines = BLACKHOLE,FEDERATED,ARCHIVE
binlog_checksum = NONE
gtid_mode = ON
mysqlx_cache_cleaner = ON
server_id = 1016345527
auto_increment_offset = 2
basedir = /home/workspace/SERVERS/mysql-8.0.4-rc-linux-glibc2.12-x86_64
port = 3340
datadir = /home/workspace/git/work/bugs/26861636/ngshell/BUILD/unittest/3340/sandboxdata
log_error = /home/workspace/git/work/bugs/26861636/ngshell/BUILD/unittest/3340/sandboxdata/error.log
pid_file = /home/workspace/git/work/bugs/26861636/ngshell/BUILD/unittest/3340/3340.pid
log_bin
loose_mysqlx_socket = mysqlx.sock
log_slave_updates = ON
relay_log_info_repository = TABLE
innodb_log_file_size = 4M
secure_file_priv = /home/workspace/git/work/bugs/26861636/ngshell/BUILD/unittest/3340/mysql-files
master_info_repository = TABLE
binlog_format = ROW
plugin_load = mysqlx.so
enforce_gtid_consistency = ON
loose_mysqlx_port = 33400
socket = mysqld.sock
report_port = 3340
log_syslog = OFF
